function MultiCactus.show 0
push argument 0
pop pointer 0
push pointer 0
call MultiCactus.draw 1
pop temp 0
push constant 0
return
function MultiCactus.hide 0
push argument 0
pop pointer 0
push pointer 0
call MultiCactus.undraw 1
pop temp 0
push constant 0
return
function MultiCactus.dispose 0
push argument 0
pop pointer 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function MultiCactus.draw 1
push argument 0
pop pointer 0
push this 0
push this 1
call Commons.getLocation 2
pop this 2
push constant 16384
push this 2
add
pop local 0
push local 0
push constant 0
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 16192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 771
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 16192
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 771
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 15616
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 195
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 15616
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 195
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 1024
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 63
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 16384
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 3
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 15565
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 13117
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 15565
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 13117
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 15565
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 13117
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 15565
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 13117
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 16132
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 16131
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 16132
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 16131
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 3075
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 16336
neg
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 3075
call Memory.poke 2
pop temp 0
push constant 0
return
function MultiCactus.undraw 1
push argument 0
pop pointer 0
push this 0
push this 1
call Commons.getLocation 2
pop this 2
push constant 16384
push this 2
add
pop local 0
push local 0
push constant 0
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 1
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 33
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 65
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 97
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 129
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 161
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 193
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 225
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 257
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 289
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 321
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 353
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 385
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 417
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 449
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 481
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 512
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 513
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 544
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 545
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 576
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 577
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 608
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 609
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 640
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 641
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 672
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 673
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 704
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 705
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 736
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 737
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 768
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 769
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 800
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 801
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 832
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 833
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 864
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 865
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 896
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 897
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 928
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 929
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 960
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 961
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 992
add
push constant 0
call Memory.poke 2
pop temp 0
push local 0
push constant 993
add
push constant 0
call Memory.poke 2
pop temp 0
push constant 0
return
function MultiCactus.moveLeft 0
push argument 0
pop pointer 0
push this 3
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push this 0
push constant 5
lt
push pointer 0
call MultiCactus.hasCollided 1
or
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push pointer 0
call MultiCactus.hide 1
pop temp 0
push constant 0
pop this 3
push constant 0
return
label IF_FALSE1
push pointer 0
call MultiCactus.hide 1
pop temp 0
push this 0
push constant 10
sub
pop this 0
push pointer 0
call MultiCactus.show 1
pop temp 0
push constant 0
return
function MultiCactus.hasCollided 2
push argument 0
pop pointer 0
call DinosaurController.getCurrX 0
pop local 0
call DinosaurController.getCurrY 0
pop local 1
push this 0
push constant 50
lt
push this 0
push constant 5
add
push local 0
gt
and
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push local 1
push constant 48
add
push this 1
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
not
call Commons.setGameOver 1
pop temp 0
push constant 0
not
return
label IF_FALSE1
label IF_FALSE0
push constant 0
return
