function Game.new 0
push constant 4
call Memory.alloc 1
pop pointer 0
call Screen.clearScreen 0
pop temp 0
push constant 20
push constant 150
call DinosaurController.newDinosaur 2
pop temp 0
push constant 510
push constant 184
call ObstacleHandler.new 2
pop this 3
push constant 0
pop this 0
push constant 0
pop this 1
push constant 0
push constant 238
push constant 511
push constant 240
call Screen.drawRectangle 4
pop temp 0
push constant 0
push constant 200
push constant 511
push constant 200
call Screen.drawLine 4
pop temp 0
push pointer 0
return
function Game.run 2
push argument 0
pop pointer 0
call Commons.bottomDisplay 0
pop temp 0
label WHILE_EXP0
push this 1
not
not
if-goto WHILE_END0
label WHILE_EXP1
push this 1
not
push local 1
push constant 0
eq
and
not
if-goto WHILE_END1
call Keyboard.keyPressed 0
pop local 1
push pointer 0
call Game.runAnimate 1
pop temp 0
push constant 22
push constant 6
call Output.moveCursor 2
pop temp 0
push this 0
call Output.printInt 1
pop temp 0
push this 0
push constant 1
add
pop this 0
goto WHILE_EXP1
label WHILE_END1
push local 1
push constant 69
eq
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 1
push this 0
call Commons.printEndCredits 1
pop temp 0
push constant 22
push constant 10
call Output.moveCursor 2
pop temp 0
label IF_FALSE0
push local 1
push constant 131
eq
call DinosaurController.islanded 0
and
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
call DinosaurController.jump 0
pop temp 0
label IF_FALSE1
push constant 0
pop local 1
goto WHILE_EXP0
label WHILE_END0
push constant 0
return
function Game.runAnimate 0
push argument 0
pop pointer 0
call Commons.getGameOver 0
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
not
pop this 1
push this 0
call Commons.printExitDetails 1
pop temp 0
label IF_FALSE0
call DinosaurController.animate 0
pop temp 0
push this 3
call ObstacleHandler.animate 1
pop temp 0
push constant 0
return
function Game.dispose 0
push argument 0
pop pointer 0
call DinosaurController.dispose 0
pop temp 0
push this 3
call ObstacleHandler.dispose 1
pop temp 0
push pointer 0
call Memory.deAlloc 1
pop temp 0
push constant 0
return
function Game.newInstance 0
call Game.new 0
pop static 0
push constant 0
return
function Game.getInstance 0
push static 0
return
